<style>
.carousel-indicators ol { 
    counter-reset: item;
    list-style-type: none;
}
.carousel-indicators li { display: block; }
.carousel-indicators li:before { 
    content: counter(item) "  "; 
    counter-increment: item 
}
.carousel-inner img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
</style>
	<div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">{% img /images/slider/0.jpg %}
			<div class="carousel-caption"><h4>Software Libre</h4></div>
        </div>
        <div class="item">{% img /images/slider/1.jpg %}
			<div class="carousel-caption"><h4>Desarrollo móvil</h4></div>
        </div>
        <div class="item">{% img /images/slider/2.jpg %}
			<div class="carousel-caption"><h4>Tecnologías de información</h4></div>
        </div>
        <div class="item">{% img /images/slider/3.jpg %}
			<div class="carousel-caption"><h4>Emprendimiento e innovación</h4></div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
<div class="jumbotron">
  <div class="container">
    Qué tal? Soy {{ site.author }}.
    <h3 class="tagline">Compartiendo ideas libres contigo...</h3>
  </div>
</div>
